#ticketDetail {
    border-left: 2px dashed var(--grey-color);
    height: 100%;
    padding: 0 10px;
}

#generalInfo {
    // border: 5px solid purple;
    padding: 10px 0 0 0;
}

.custom-hr {
    height: 1px;
    background-color: var(--black-color);
    padding: 0.5px 0;
    margin: 3px 0;
}

#ticketTable {
    // border: 5px solid orange;

    tbody > tr > td.text-start {
        color: var(--grey-color);
        font-size: 14px;
    }

    tbody > tr > td.text-end {
        font-size: 14px;
        font-weight: 700;
    }
}

#ticketButton {
    // border: 3px solid green;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        color: var(--blue-link-color);
        margin-top: 10px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
