.loader {
    border: 16px solid var(--primary-color-disabled);
    border-top: 16px solid var(--primary-color);
    border-radius: 50%;
    position: absolute;
    width: 6em;
    height: 6em;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    animation: spin 0.5s infinite linear;
    transition: opacity 0.3s;
}

.loader--hide {
    opacity: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
