nav {
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .left-nav,
    .right-nav {
        margin: 0 10px;
    }

    svg {
        height: 30px;
        width: auto;
        margin: 0 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.nav-btn {
    border: 1px solid var(--white-color);

    &:hover {
        border: 1px solid var(--white-color);
    }

    &:active {
        border: 1px solid var(--white-color);
    }
}
