.primary-bg {
  background-color: var(--primary-color);
}

.white-bg {
  background-color: var(--white-color);
}

.font-14 {
  font-size: 14px;
}

.font-24 {
  font-size: 24px;
}

.font-48 {
  font-size: 48px;
}

.bold-700 {
  font-weight: 700;
}

.app_container {
  width: 100%;
  min-height: 100vh;
}

.center {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: var(--grey-color);
  border: 1px solid var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: var(--medium-dark-grey-color);
  }

  &:active {
    background-color: var(--dark-grey-color);
  }
}

.primary-btn {
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--medium-dark-primary-color);
  }

  &:active {
    background-color: var(--dark-primary-color);
  }
}

.secondary-btn {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);

  &:hover {
    background-color: var(--medium-dark-secondary-color);
  }

  &:active {
    background-color: var(--dark-secondary-color);
  }
}

.col,
.row,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-8,
.col-md-10 {
  border: 2px solid black;
}

.row,
.row > *,
.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  height: 100vh;
}
