@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
  --font-base: 'Nunito Sans', sans-serif;

  --primary-color: #ca002a;
  --medium-dark-primary-color: #b50025;
  --dark-primary-color: #a20021;
  --primary-color-disabled: #ffa1b5;

  --white-color: #ffffff;
  --secondary-color: #ffffff;
  --medium-dark-secondary-color: #f4f4f4;
  --dark-secondary-color: #efefef;

  --grey-color: #585858;
  --medium-dark-grey-color: #505050;
  --dark-grey-color: #424242;
  --black-color: #0d0d0d;

  --blue-link-color: #4223ff;
}

* {
  font-family: var(--font-base);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 18px;
}
