.ticketInput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.inputs {
    label {
        color: var(--primary-color);

        .shortcut {
            color: black;
        }
    }

    input,
    select {
        border-color: var(--primary-color);
    }
}

#vehiclePlateNumber {
    text-align: center;
}
